<section class="uncp">
    <div class="uncp__main container">  
        <div class="uncp__textos"> 
            <h1 class="title">Seccion de<span class="title--active"> TRÁMITES</span></h1> 
            <p class="copy">Encuentra <span class="copy__active"> todo lo que necesitas saber</span><br>
                como estudiante de la C.P. de Educación Primaria<br>
            <span class="copy__active"> AQUÍ</span></p>                  
               
        </div>                    
    </div>
</section>