<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-sm-6 footer-img d-none d-sm-block">
                            <img src="../../assets/img/docente_1.png">
                        </div>
                        <div class="col-sm-6 footer-logo">
                            <img src="../../assets/img/logo_1.png">
                            <p class="footer-box-p">Carrera profesional acreditada por la Superintendencia Nacional de Educación Superior Universitaria (SUNEDU)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row ">
                        <div class="col footer-box">
                            <h3 class="footer-box-title">Enlaces de interés</h3>
                            <a class="footer-box-link" href="#">Inicio</a>
                            <a class="footer-box-link" href="#">Pregrado</a>
                            <a class="footer-box-link" href="#">Docentes</a>
                            <a class="footer-box-link" href="#">Trámites</a>
                            <a class="footer-box-link" href="#">Investigación</a>
                            <a class="footer-box-link" href="#">Campus Virtual</a>
                            <a class="footer-box-link" href="#">Noticias</a>
                        </div>
                        <div class="col footer-box">
                            <h3 class="footer-box-title">Contáctanos</h3>
                            <p class="footer-box-p">Déjanos tu correo electrónico.</p>
                            <input type="text" placeholder="E-mail">
                            <button type="button" >Enviar</button>
                        </div>
                        <div class="col footer-box">
                            <h3 class="footer-box-title">Ubícanos en</h3>
                            <p class="footer-box-p">Mariscal Castilla 3909, Huancayo 12006.</p>
                            <p class="footer-box-p">(064) 481062</p>
                            <p class="footer-box-p">contacto@primariauncp.com​​</p>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
           <span>Copyright 2022 Todos los derechos reservados <a href="#">Educación Primaria-UNCP</a></span>
        </div>
     </div>
</footer>