.social{
    padding: 10px 0px;
}
.footer{
    background: url(../../assets/img/footer.jpg);
    background-color: #183153;
    background-position: top left;
    background-repeat: no-repeat;
    background-size:contain;
    min-height: 285px;
}
.footer-box{
    padding-top: 60px;
}

.footer-img img{
    width: 100%;
    margin: 0px;
}
.footer-logo{
    padding-top: 80px;
    display: block;
}
.footer-logo img{
    max-width: 220px;
}
.footer-logo p{
    margin-top: 20px;
    font-size: .8rem;
}
.footer-box-title{
    color: #5f697d;
    font-size: 0.9rem;
    font-weight: 500;
}
.footer-box-link{
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    display: block;
}
.footer-box-link:hover{
    color: #1c7ed6;
}
.footer-box-p{
    color: #fff;
    font-size: 0.9rem;
}
.footer-box input{
    padding: 5px 10px;
    font-size: .8rem;
    color: var(--black2);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.footer-box button{
    padding: 5px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #5f697d;
    color: #fff;
}
.footer-box button:hover{
    background-color: #3e4655;
}
.footer-box button:active{
    background-color: #272d38;
}
.copyright{
    padding: 15px 0px;
    text-align: center;    
    color: #5f697d;
    background-color: #183153;
    border-top: 1px solid rgba(255,255,255, 0.1);
    font-weight: 300;
    font-size: .7rem;
}
.copyright a{
    color: #5f697d;
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width:700px){
    .footer-logo{
        text-align: center;
    }
}