.social-media{
    height: 100px;
    width: 90%;
    margin-top: -100px;
    margin-bottom: -100px;
    color: black;
    padding: 20px 0;
}
.lucat-icon{    
    list-style-type: none;
    align-items: flex-end;
    margin: auto;
    float: right;
}
.lucat-icon li{
    vertical-align: middle;
    float: left;
    margin-right: 10px;
    padding: 0 5px;
}
a {color: var(--black2);  text-decoration: none; font-size: 2.5rem; transition-delay: 100ms; transition-duration: 100ms;}
a:hover {color: var(--black1);  text-decoration: none; font-size: 2.6rem;}
a:visited {color: var(--black2);  text-decoration: none;}