<div class="row justify-content-end">
    <div class="col-sm-6">
        <div class="social-media">            
            <ul class="lucat-icon">
                <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </li>
            </ul>
            
        </div>
    </div>
</div>
