<section class="uncp">
    <div class="uncp__main container">  
        <div class="uncp__textos"> 
            <h1 class="title">Página<span class="title--active"> NO ENCONTRADA</span></h1> 
            <p class="copy">No se reconoce la dirección que acabas de ingresar</p>                  
        </div>                    
    </div>
</section>
