.modalidades{
    background-color: #fff ;
    width: 100%;
}
.container{
    padding: 50px 0px;
}
.border {border-radius: 30px; border: #81256c solid 2px !important; padding: 40px 40px;} 
.about {    
    background: url(../../assets/img/home-bg.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    padding: 90px 0px;
}
.aboutheading {
   text-align: center;
   padding-bottom: 50px;
}
.aboutheading h2 {
    padding: 0px 0px 20px 0px;
    font-size: 50px;
    font-weight: bold;
    color: #81256c ;
    line-height: 50px;
}

.aboutheading span {
    color:#141012; 
    font-size: 1rem;
    line-height: 32px;
}

.black {color: #141012 }

.about .about-box figure {
    margin: 0px;
    text-align: center;
    padding: 20px 0;
}
.home-avatar{
    margin: auto;
    width: 100%;
}

.about .about-box .title-box{
    font-size: 1.5rem;
    font-weight: 600;
    color: #141012;
    text-align: justify;
}
.about .about-box p {
   font-size: 1rem;
    line-height: 32px;
    color: #141012;
    text-align: justify;
    
}
.about .about-box button{
    width: 200px;
    font-size: 1rem;
    padding: 15px 0px;
    background-color: #81256c;
    color: #fff;
    line-height: 20px;
    border-radius: 30px;
    border-style: none;
    text-align: center;
    float: right;
}
.about .about-box button:hover {
   color: #fff;
    background-color: #691556;
}
ul{
    text-align: justify;
}
@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
}

/*
    COSTOS DE INSCRIPCIÓN
*/

.costos{
    background-color: var(--purple1) ;
    width: 100%;
}

.costosheading {
    text-align: center;
}

.costosheading h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff ;
    line-height: 50px;
}

.costosheading span {
    color:#fff; 
    font-size: 1rem;
    line-height: 32px;
}
.item-costo{    
    background-color: #fff ;
    color: #141012;
    transition-duration: 500ms;
}
.item-costo:hover{
    background-color: #fff;
    //color: #fff;
    transform: scale(1.05);
}
.subtitulo-costos{
    padding: 50px 0;
    background-color: #4a008f;
}

/*
    REQUISITOS
*/
.requisitos {
    background-color: #0d6efd ;
    width: 100%;
    color: #fff;
}

.requisitos p {
    font-size: 1rem;
}

.requisitosheading {
    text-align: center;
}

.requisitosheading h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 50px;
}

.requisitosheading span {
    font-size: 1rem;
    line-height: 32px;
}
.item-requisitos{    
    background-color: #dff1fc ;
    color: #141012;
    transition-duration: 500ms;
}
.item-requisitos:hover{
    background-color: #fff;
    //color: #fff;
    transform: scale(1.05);
}
.subtitulo-requisitos{
    width: 100%;
    padding: 50px 0;
    background-color: rgba($color: #000000, $alpha: 0.15);
}
.icon-requisitos{
    width: 80px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    border-radius: 40px;
    color: #fff;
    padding: 15px;
    margin: 10px auto;
}
.icon-requisitos i{
    font-weight: 200;
    font-size: 50;
    vertical-align: middle;
    margin: auto;
}

/**/
.requisitos-ing{
    background-color: #fff ;
    width: 100%;
    color: var(--black2);
}