<header-base></header-base>
<social-media id="go_modalidades"></social-media>

<section class="modalidades">
    <sub-titulos subtitulo="Modalidades de Postulación" descripcion="Escuela Profesional de Educación Primaria - Universidad Nacional del Centro del Perú"></sub-titulos>
    <div class="container">
        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        Costo inscripción: S/395.00
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> TITULADOS Y GRADUADOS</h5>
                    </div>
                    <div class="card-body">
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text">
                                        <li>Certificado de estudios originales de primero a quinto grado de Educación Secundaria (Si
                                            procede de otra universidad).</li>
                                        <li>Documento Nacional de Identidad (Copia DNI)</li>
                                        <li>Acta o Partida de Nacimiento original. (En caso de postulantes de otras universidades)</li>
                                        <li>Certificado original de estudios superiores completos de la universidad de procedencia.</li>
                                        <li>Copia del grado académico o título profesional universitario, fedatada por la Secretaría
                                            General de la universidad de procedencia.</li>
                                        <li>Los postulantes de universidades extranjeras deben haber revalidado el grado académico o
                                            título profesional por una universidad del Perú.</li>
                                        <li>Dos (02) fotografías actuales a colores en fondo blanco tamaño pasaporte.</li>
                                    </ul>
                                    <h6>Documentos que deben ser presentados en el Área de Informática y Desarrollo para su validación
                                    </h6>
                                    <ul class="card-text">
                                        <li>Recibo de pago por derecho de inscripción en caja de la UNCP.</li>
                                        <li>Registrar su inscripción en la página web: www.uncpadmision.edu.pe y obtener la Constancia
                                            de Inscripción - Declaración Jurada.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
    
                        
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        Costo inscripción: S/275.00
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> PRIMEROS PUESTOS</h5>
                    </div>
                    <div class="card-body">                    
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text">
                                        <li>Certificado de estudios originales de primero a quinto grado de Educación Secundaria.</li>
                                        <li>Documento Nacional de Identidad (Copia DNI)</li>
                                        <li>Acta o Partida de Nacimiento original.</li>
                                        <li>Constancia original otorgada por el Director de la Institución Educativa de procedencia que
                                            acredita su condición de haber ocupado el 1er o 2do puesto en el orden de mérito de su
                                            promoción, visada por la oficina correspondiente del Ministerio de Educación y en el caso de
                                            ser estudiante de COAR constancia de estar comprendido en el tercio superior.</li>
                                        <li>Acta de sesión de la Dirección de la Institución Educativa que otorga los primeros puestos o
                                            cuadro de méritos de los 10 primeros estudiantes que poseen los más altos promedios
                                            generales otorgado por el Director de la institución y en caso de COAR del tercio superior
                                            visada por la oficina correspondiente del Ministerio de Educación.</li>
                                        <li>Dos (02) fotografías actuales a colores en fondo blanco tamaño pasaporte.</li>
                                    </ul>
                                    <h6>Documentos que deben ser presentados en el Área de Informática y Desarrollo para su validación
                                    </h6>
                
                                    <ul class="card-text">
                                        <li>Recibo de pago por derecho de inscripción en caja de la UNCP.</li>
                                        <li>Registrar su inscripción en la página web: www.uncpadmision.edu.pe y obtener la Constancia
                                            de Inscripción - Declaración Jurada.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        (Costo: S/235.00) y afectados por la violencia social (Costo: S/50.00)
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> VICTIMAS DE TERRORISMO</h5>
                    </div>
                    <div class="card-body">                    
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text">
                                        <li>Certificado de estudios originales de primero a quinto grado de Educación Secundaria.</li>
                                        <li>Documento Nacional de Identidad (Copia DNI)</li>
                                        <li>Acta o Partida de Nacimiento original.</li>
                                        <li>Copia de la Resolución del Consejo Regional de Calificación correspondiente, que acredite
                                            ser beneficiario del Régimen Indemnizatorio establecido por el D.S. 051-88-PCM para las
                                            Víctimas del Terrorismo.</li>
                                        <li>Constancia expedida por el Registro Único de Víctimas (R.U.V.) del Consejo de Reparaciones
                                            adscrito a la Presidencia del Consejo de Ministros, para los afectados por la violencia
                                            social.</li>
                                        <li>Resolución Ejecutiva del Gobierno Regional de reconocimiento a uno de los hijos de los
                                            padres calificados como víctimas de la violencia social debidamente acreditados por el
                                            Consejo de Reparaciones que ha cedido sus derechos de reparaciones en educación a uno de sus
                                            hijos.</li>
                                        <li>Dos (02) fotografías actuales a colores en fondo blanco tamaño pasaporte.</li>
                                    </ul>
                                    <h6>Documentos que deben ser presentados en el Área de Informática y Desarrollo para su validación
                                    </h6>
                
                                    <ul class="card-text">
                                        <li>Recibo de pago por derecho de inscripción en caja de la UNCP.</li>
                                        <li>Registrar su inscripción en la página web: www.uncpadmision.edu.pe y obtener la Constancia
                                            de Inscripción - Declaración Jurada.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        (Costo: S/235.00) y afectados por la violencia social (Costo: S/50.00)
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> HIJOS DE COMUNEROS DE LA REGIÓN JUNIN</h5>
                    </div>
                    <div class="card-body">
                        
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text">
                                        <li>Certificado de estudios originales de primero a quinto grado de Educación Secundaria,
                                            cursado en una Institución Educativa estatal de la Comunidad o en el ámbito de su
                                            influencia.</li>
                                        <li>Documento Nacional de Identidad (Copia DNI)</li>
                                        <li>Acta o Partida de Nacimiento original.</li>
                                        <li>Copia legalizada del acta de la Asamblea Comunal, con antigüedad no mayor a seis meses al
                                            momento de su inscripción, que deja constancia que los padres del postulante son comuneros
                                            activos y presentan al hijo como tal.</li>
                                        <li>Copia de la Resolución de creación de la comunidad o copia del título de la comunidad
                                            expedida por la Oficina de Registros Públicos o por el Ministerio de Agricultura.</li>
                                        <li>Dos (02) fotografías actuales a colores en fondo blanco tamaño pasaporte.</li>
                                    </ul>
                                    <h6>Documentos que deben ser presentados en el Área de Informática y Desarrollo para su validación
                                    </h6>
                
                                    <ul class="card-text">
                                        <li>Recibo de pago por derecho de inscripción en caja de la UNCP.</li>
                                        <li>Registrar su inscripción en la página web: www.uncpadmision.edu.pe y obtener la Constancia
                                            de Inscripción - Declaración Jurada.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        Costo de inscripción: S/195.00
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> POSTULANTES CON DISCAPACIDAD</h5>
                    </div>
                    <div class="card-body">
                        
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text">
                                        <li>Certificado de estudios originales de primero a quinto grado de Educación Secundaria.</li>
                                        <li>Documento Nacional de Identidad (Copia DNI)</li>
                                        <li>Acta o Partida de Nacimiento original.</li>
                                        <li>Copia autenticada de la Resolución Ejecutiva del Consejo Nacional de la Persona con
                                            Discapacidad (CONADIS) que lo registra como tal.</li>
                                    </ul>
                                    <h6>Documentos que deben ser presentados en el Área de Informática y Desarrollo para su validación
                                    </h6>
                
                                    <ul class="card-text">
                                        <li>Dos (02) fotografías actuales a colores en fondo blanco tamaño pasaporte Documentos que
                                            deben ser presentados en el Área de Informática y Desarrollo para su validación.</li>
                                        <li>Recibo de pago por derecho de inscripción en caja de la UNCP.</li>
                                        <li>Registrar su inscripción en la página web: www.uncpadmision.edu.pe y obtener la Constancia
                                            de Inscripción - Declaración Jurada.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        Costo inscripción: S/275.00
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> DEPORTISTAS DESTACADOS</h5>
                    </div>
                    <div class="card-body">
                        
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text">
                                        <li>Certificado de estudios originales de primero a quinto grado de Educación Secundaria.</li>
                                        <li>Documento Nacional de Identidad (Copia DNI)</li>
                                        <li>Acta o Partida de Nacimiento original. (En caso de postulantes de otras universidades)</li>
                                        <li>Carta u oficio expedido por el Instituto Peruano del deporte (IPD) nacional con antigüedad
                                            no mayor de un año, presentando al Deportista Calificado de Alto Nivel, cuya participación
                                            deportiva haya ocurrido en representación nacional o internacional.</li>
                                        <li>Carta notarial de compromiso del postulante a participar obligatoriamente, representando a
                                            su Carrera Profesional y a la UNCP en competencias deportivas oficiales.</li>
                                        <li>Dos (02) fotografías actuales a colores en fondo blanco tamaño pasaporte.</li>
                                    </ul>
                                    <h6>Documentos que deben ser presentados en el Área de Informática y Desarrollo para su validación
                                    </h6>
                
                                    <ul class="card-text">
                                        <li>Recibo de pago por derecho de inscripción en caja de la UNCP.</li>
                                        <li>Registrar su inscripción en la página web: www.uncpadmision.edu.pe y obtener la Constancia
                                            de Inscripción - Declaración Jurada.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <div class="separador" id="go_costos"></div>
</section>


<section class="costos">
    <div class="subtitulo-costos">
        <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="costosheading">
                  <h2>¿Cuánto debes invertir para estudiar en la UNCP?</h2>
                  <span>Para permitir el acceso de jóvenes de distintos niveles socioeconómicos, ofrecemos, un Sistema de Inscripciones Diferenciadas.</span>
               </div>
            </div>
         </div>
    </div>
    <div class="container">
        <!--
            <div class="divider"></div>
        -->        
        
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div class="col">
                <div class="card shadow item-costo">
                    <div class="card-header text-center">
                        COLEGIO ESTATAL
                    </div>
                    <div class="card-body  text-center">
                        <h5 class="card-title h4">S/. 241.00</h5>
                        <P>Banco de la Nación-Caja<br>Huancayo/Código 1654</P>
                    </div>        
                </div>
            </div>
            <div class="col">
                <div class="card shadow item-costo">
                    <div class="card-header text-center">
                        COLEGIO PARTICULAR
                    </div>
                    <div class="card-body  text-center">
                        <h5 class="card-title h4">S/. 291.00</h5>
                        <P>Banco de la Nación-Caja<br>Huancayo/Código 1655</P>
                    </div>        
                </div>
            </div>
            <div class="col">
                <div class="card shadow item-costo">
                    <div class="card-header text-center">
                        PARTICIPANTE LIBRE
                    </div>
                    <div class="card-body  text-center">
                        <h5 class="card-title h4">S/. 181.00</h5>
                        <P>Banco de la Nación-Caja<br>Huancayo/Código 1675</P>
                    </div>        
                </div>
            </div>
            <div class="col">
                <div class="card shadow item-costo">
                    <div class="card-header text-center">
                        RECARGO REZAGADO
                    </div>
                    <div class="card-body  text-center">
                        <h5 class="card-title h4">S/. 30.00</h5>
                        <P>Banco de la Nación-Caja<br>Huancayo</P>
                    </div>        
                </div>
            </div>
            
        </div>


    </div>
    <div class="separador" id="go_requisitos"></div>
</section>


<section class="requisitos">
    <div class="subtitulo-requisitos">
        <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="requisitosheading">
                  <h2>Requisitos para postular a los exámenes de admisión</h2>
                  <div class="divider-white"></div>
               </div>
            </div>
         </div>
    </div>
    <div class="container">        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #198754;">
                    <i class="ico-req material-icons-outlined">price_check</i>
                </div>
                <p>Pagar el derecho de inscripción en las agencias del Banco de la Nación.</p>

            </div>
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #dc3545;">
                    <i class="ico-req material-icons-outlined">app_registration</i>
                </div>
                <p>Registrar su inscripción en nuestro sistema en línea.</p>
            </div>
        </div>
    </div>
</section>

<section class="requisitos-ing">
    <div class="subtitulo-requisitos">
        <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="requisitosheading">
                  <h2>Requisitos para los ingresantes (primera selección)</h2>
                  <div class="divider"></div>
               </div>
            </div>
         </div>
    </div>
    <div class="container">        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #198754;">
                    <i class="ico-req material-icons-outlined">contact_mail</i>
                </div>
                <p>Documento Nacional de Identidad (original y copia).</p>
            </div>
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #dc3545;">
                    <i class="ico-req material-icons-outlined">description</i>
                </div>
                <p>Acta o partida de nacimiento original.</p>
            </div>
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #6f42c1;">
                    <i class="ico-req material-icons-outlined">card_membership</i>
                </div>
                <p>Constancia de estudios que acredite estar cursando el 5to. grado de educación secundaria.</p>
            </div>
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #fd7e14;">
                    <i class="ico-req material-icons-outlined">account_box</i>
                </div>
                <p>Dos fotografías actuales a colores en fondo blanco tamaño pasaporte.</p>
            </div>
            <div class="col text-center">
                <div class="icon-requisitos" style="background-color: #1d79fd;">
                    <i class="ico-req material-icons-outlined">price_change</i>
                </div>
                <p>Recibo de pago por derecho de inscripción en original y copia (baucher del Banco de la Nación).</p>
            </div>
        </div>
        <div class="separador"></div>
    </div>
</section>