.container{
    padding: 50px 0px;
}
.bienestar{
    width: 100%;
    background-color: #fff;
}
.border-purple {
    border-radius: 30px; 
    border: #81256c solid 2px !important; 
    padding: 40px 40px 30px 40px; 
} 
@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
    .border-purple {
        border-radius: 20px; 
        padding: 20px 20px 10px 20px; 
    } 
}
