<header-bienestar></header-bienestar>
<social-media id="go_plan"></social-media>

<section class="bienestar">
    <sub-titulos subtitulo="Unidad de Bienestar Universitario" descripcion="PRESENTACION"></sub-titulos>
    <div class="container">
        <div class="border-purple ">
            <div class="divider"></div>
            <p class="justified-text">La Escuela Profesional de Educación Primaria cuenta con el Servicio de Bienestar Universitario de la UNCP, que es responsable de contribuir al bienestar integral de cada uno de los estudiantes, a lo largo de sus estudios universitarios, promoviendo, realizando y ejecutando los servicios sociales, de psicopedagogía, salud, alimentación, recreación y deporte, que orientan a promover el desarrollo de la autorreflexión y autonomía de sí mismos.</p>
        </div>
       <div class="separador"></div>
        
        <div class="row justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="../../assets/img/psico.jpg" class="card-img-top" alt="Servicio psicopedagógi">
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> SERVICIO PSICOPEDAGÓGICO</h5><hr>
                        <P>Realiza consultas individuales, evaluación psicológica, orientación vocacional, orientación académica y orientación personal.</P>
                        
                    </div>
                    <div class="card-footer">
                        <ngb-accordion #acc="ngbAccordion">                           
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li></li>
                                        
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
    
                </div>
            </div>            
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="../../assets/img/comedor.jpg" class="card-img-top" alt="Comedor universitario">
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> COMEDOR UNIVERSITARIO</h5><hr>
                        <P>Se encarga de identificar la situación socio-económica del alumno, velar por su desarrollo integral brindando el apoyo económico necesario. A través del Comité de Administración y Fiscalización del Fondo Bienestar Estudiantil.</P>
                    </div>
                    <div class="card-footer">
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li>Solicitud dirigida al Director de la DBU.</li>   
                                        <li>Ficha socioeconómica.</li>   
                                        <li>Copia del DNI del solicitante.</li>   
                                        <li>Copia del DNI de los padres y hermanos menores de edad del estudiante.</li>   
                                        <li>En caso de que el estudiante tenga carga familiar.</li>   
                                        <li>Ficha de matrícula.</li>   
                                        <li>Boleta de notas.</li>   
                                        <li>En caso de padres o estudiantes que laboren de forma DEPENDIENTE presentar copia de BOLETAS DE PAGO - HASTA 2 ULTIMOS MESES.</li>   
                                        <li>En caso de padres o estudiantes que laboren de forma INDEPENDIENTE, presentar DECLARACIÓN JURADA.</li>   
                                        <li>En caso de orfandad, presentar copia de ACTA O PARTIDA DE DEFUNCIÓN. </li>   
                                        <li>Copia de constancia de afiliación a un tipo de seguro de Salud INDISPENSABLE.</li>   
                                        <li>En caso de enfermedad o discapacidad del estudiante o familiar directo, presentar DOCUMENTOS SUSTENTATORIOS CON EL DIAGNOSTICO MÉDICO / CERTIFICADO DE DISCAPACIDAD DEL OMAPED-CONADIS.</li>   
                                        <li>COPIA DEL RECIBO DE PAGO DE AGUA O LUZ del domicilio actual del estudiante (no mayor a 2 meses).</li>   
                                        <li>Croquis de domicilio actual indicando el distrito y el transporte de la empresa.</li>   
                                        <li>Copia de otros documentos que acrediten la situación socioeconómica y familiar del estudiante de acuerdo a la problemática que pueda afrontar cada familia, ej.
                                            <ul>
                                                <li>Denuncia policial por abandono de hogar.</li>
                                                <li>Demanda por alimentos.</li>
                                                <li>Cronograma de pagos de deuda bancaria.</li>
                                                <li>Resolución y/o certificado de separación de la municipalidad - DEMUNA (caso de padres separados).</li>
                                            </ul>
                                        </li>   
                                        <li>Declaración Jurada Simple de no contar con otro beneficio otorgado por el estado (PRONABEC, etc. Según formato oficial)</li>                                        
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="../../assets/img/deporte.jpg" class="card-img-top" alt="servicio de apoyo al deporte UNCP">
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> SERVICIO DE DEPORTE</h5><hr>
                        <P>Brinda apoyo en la práctica deportiva y difundir la cultura del deporte y la recreación, propiciando la formación de cuadros y equipos representativos y de calidad en las diferentes disciplinas deportivas.</P>
                    </div>
                    <div class="card-footer">
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li></li>
                                        
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="../../assets/img/social.jpg" class="card-img-top" alt="Servicio social UNCP">
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> SERVICIO SOCIAL</h5><hr>
                        <P>Se encarga de identificar la situación socio-económica del alumno, velar por su desarrollo integral brindando el apoyo económico necesario. A través del Comité de Administración y Fiscalización del Fondo Bienestar Estudiantil.</P>
                    </div>
                    <div class="card-footer">
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Servicios COFOBE</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li>Préstamo Económico.</li>     
                                        <li>Apoyo Oftalmológico. (especializado)</li>  
                                        <li>Apoyo por Salud.</li>  
                                        <li>Apoyo por Alto Rendimiento Académico.</li>                                     
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li>Presentando una solicitud a través de la Oficina de Trámite Documentario, dirigido a la Dirección, señalando el tipo de apoyo que necesita. </li>
                                        <li>Acompañar el recibo de pago de S/ 3,00 por derecho de trámite administrativo. </li>
                                        <li>Adjuntar documentos que sustentan la solicitud.</li>
                                        <li>Dirigirse a la OGBU para su estudio socio económico.</li>
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>   
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="../../assets/img/medico.jpg" class="card-img-top" alt="Servicio médico UNCP">
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark"><i class="fas fa-check-circle"></i> CENTRO MÉDICO</h5><hr>
                        <P>Realiza tratamientos, consultas y cuenta con médicos, enfermeras y personal.</P>
                    </div>
                    <div class="card-footer">
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Servicios</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li>Emergencias</li>      
                                        <li>Medicina General</li> 
                                        <li>Enfermería</li>                                  
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <strong class="text-dark">Requisitos</strong>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ul class="card-text text-start">
                                        <li>Para hacer uso de este servicio, atención, los alumnos deben encontrarse matriculados (presentar ficha de matrícula).</li>
                                        
                                    </ul>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <div class="separador" id="go_costos"></div>
</section>