.container {
    width: 100%;
    padding: 50px 0px;
}

.border-purple {
    border-radius: 30px;
    border: #81256c solid 2px !important;
    padding: 40px 40px 30px 40px;
    margin-bottom: 50px;
}

.presentacion {
    width: 100%;
    background-color: #fff;
    background: url(../../assets/img/home-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
}

.practicas {
    width: 100%;
    background-color: #fff;
}
.item-practicas{
    transition-duration: 200ms;
}
.item-practicas:hover{
    transform: scale(1.03);
    color: #fff;
    background-color: #0d6efd;
}
.item-practicas-par:hover{
    transform: scale(1.03);
    color: #fff;
    background-color: #20c997;
}
.item-practicas:hover h5, .item-practicas-par:hover h5{
    color: #fff;
}
.img-practicas {
    width: 100%;
    height: 100%;
}

h5{
    color: var(--black1);
}
.img-decor{
    width: 100%;
}

@media screen and (max-width:700px) {
    .container {
        width: 90%;
    }

    .border-purple {
        border-radius: 30px;
        border: #81256c solid 2px !important;
        padding: 20px 20px 10px 20px;
        margin-bottom: 50px;
    }
    .img-practicas {
        width: 100%;
        height: auto;
    }
    h5{
        text-align: center;
    }

}

