<header-practicas></header-practicas>
<social-media id="go_plan"></social-media>
<section class="presentacion">
    <sub-titulos subtitulo="Prácticas Pre-Profesionales" descripcion="PRESENTACIÓN"></sub-titulos>
    <div class="container">
        <div class="border-purple">
            <div class="divider"></div>
            <p class="justified-text">La oficina de prácticas pre profesionales es la unidad encargada de planificar,
                organizar, dirigir y controlar las practicas realizadas por los estudiantes de la Escuela Profesional de
                educación Primaria y que corresponde a las asignaturas de: prácticas de observación dirigida, prácticas
                discontinuas, practicas continuas, prácticas intensivas y prácticas de gestión administrativa,
                realizadas desde VI semestre hasta el X semestre. Asimismo, supervisa y evalúa el servicio docente que
                brindan los practicantes en las instituciones educativas con convenio.</p>
        </div>
    </div>
</section>

<section class="practicas">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-12 col-lg-8">
                <div class="item-practicas card shadow">
                    <div class="row g-0">
                        <div class="img-contenedor col-sm-12 col-md-4 ">
                            <img src="../../assets/img/prac_obs.jpg" class="img-fluid rounded img-practicas" alt="...">
                            <div class="card-body d-sm-block d-md-none d-lg-none d-xl-none">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL DE OBSERVACIÓN</h5>
                                <hr>
                                <p class="card-text justified-text">Práctica pre-profesional de observación dirigida
                                        (Contacto con la Escuela e Iniciación de la sistematización) donde el estudiante
                                        realiza la práctica dos veces a la semana durante 6 semanas con 6 horas
                                        pedagógicas
                                        por semana, acumulando un total de 36 horas.</p>

                            </div>
                        </div>
                        <div class="col-8 col-md-8 d-none d-md-block d-lg-block d-xl-block">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL DE OBSERVACIÓN</h5>
                                <hr>
                                <p class="card-text justified-text">Práctica pre-profesional de observación dirigida
                                    (Contacto con la Escuela e Iniciación de la sistematización) donde el estudiante
                                    realiza la práctica dos veces a la semana durante 6 semanas con 6 horas pedagógicas
                                    por semana, acumulando un total de 36 horas.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block d-xl-block">
                <img class="img-decor" src="../../assets/img/prac_1.png" >
            </div>
            <div class="col-lg-4 d-none d-lg-block d-xl-block">
                <img class="img-decor" src="../../assets/img/prac_2.png">
            </div>

            <div class="col-md-12 col-lg-8 float-end">
                <div class="item-practicas-par card shadow">
                    <div class="row g-0">

                        <div class="col-8 col-md-8 d-none d-md-block d-lg-block d-xl-block">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL DISCONTINUA</h5>
                                <hr>
                                <p class="card-text justified-text">Práctica pre-profesional discontinua
                                    (Internalización en la acción educativa y Sistematización de las experiencias
                                    realizadas), donde el estudiante realiza la práctica dos veces a la semana durante
                                    16 semanas con 12 horas pedagógicas por semana, acumulando un total de 192 horas. El
                                    proceso de adaptación requiere dos semanas de observación para la ejecución de
                                    sesiones de aprendizaje.</p>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 img-contenedor">
                            <img src="../../assets/img/prac_disc.jpg" class="img-fluid rounded img-practicas" alt="...">
                            <div class="card-body d-sm-block d-md-none d-lg-none d-xl-none">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL DISCONTINUA</h5>
                                <hr>
                                    <p class="card-text justified-text">Práctica pre-profesional discontinua
                                        (Internalización en la acción educativa y Sistematización de las experiencias
                                        realizadas), donde el estudiante realiza la práctica dos veces a la semana
                                        durante
                                        16 semanas con 12 horas pedagógicas por semana, acumulando un total de 192
                                        horas. El
                                        proceso de adaptación requiere dos semanas de observación para la ejecución de
                                        sesiones de aprendizaje.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="item-practicas card shadow">
                    <div class="row g-0">
                        <div class="col-sm-12 col-md-4 img-contenedor">
                            <img src="../../assets/img/prac_cont.jpg" class="img-fluid rounded img-practicas" alt="...">
                            <div class="card-body d-sm-block d-md-none d-lg-none d-xl-none">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL CONTINUA</h5>
                                <hr>
                                    <p class="card-text justified-text">Práctica pre-profesional continua
                                        (Internalización
                                        en la acción educativa y Sistematización de las experiencias realizadas), donde
                                        el
                                        estudiante realiza la práctica tres veces a la semana durante 16 semanas con 18
                                        horas pedagógicas por semana, acumulando un total de 288 horas. El proceso de
                                        adaptación requiere dos semanas de observación para la ejecución de sesiones de
                                        aprendizaje.</p>
                            </div>
                        </div>
                        <div class="col-8 col-md-8 d-none d-md-block d-lg-block d-xl-block">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL CONTINUA</h5>
                                <hr>
                                <p class="card-text justified-text">Práctica pre-profesional continua (Internalización
                                    en la acción educativa y Sistematización de las experiencias realizadas), donde el
                                    estudiante realiza la práctica tres veces a la semana durante 16 semanas con 18
                                    horas pedagógicas por semana, acumulando un total de 288 horas. El proceso de
                                    adaptación requiere dos semanas de observación para la ejecución de sesiones de
                                    aprendizaje.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block d-xl-block">
                <img class="img-decor" src="../../assets/img/prac_3.png">
            </div>
            <div class="col-lg-4 d-none d-lg-block d-xl-block">
                <img class="img-decor" src="../../assets/img/prac_4.png">
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="item-practicas-par card shadow">
                    <div class="row g-0">

                        <div class="col-8 col-md-8 d-none d-md-block d-lg-block d-xl-block">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL INTENSIVA</h5>
                                <hr>
                                <p class="card-text justified-text">Práctica pre-profesional intensiva (Internalización
                                    en la acción educativa y Sistematización de las experiencias realizadas), donde el
                                    estudiante realiza la práctica cuatro veces a la semana durante 16 semanas con 24
                                    horas pedagógicas por semana, acumulando un total de 384 horas. El proceso de
                                    adaptación requiere dos semanas de observación para la ejecución de sesiones de
                                    aprendizaje.</p>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 img-contenedor">
                            <img src="../../assets/img/prac_int.jpg" class="img-fluid rounded img-practicas" alt="...">
                            <div class="card-body d-sm-block d-md-none d-lg-none d-xl-none">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL INTENSIVA</h5>
                                <hr>
                                    <p class="card-text justified-text">Práctica pre-profesional intensiva
                                        (Internalización
                                        en la acción educativa y Sistematización de las experiencias realizadas), donde
                                        el
                                        estudiante realiza la práctica cuatro veces a la semana durante 16 semanas con
                                        24
                                        horas pedagógicas por semana, acumulando un total de 384 horas. El proceso de
                                        adaptación requiere dos semanas de observación para la ejecución de sesiones de
                                        aprendizaje.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-8">
                <div class="item-practicas card shadow">
                    <div class="row g-0">
                        <div class="col-sm-12 col-md-4 img-contenedor">
                            <img src="../../assets/img/prac_gest.jpg" class="img-fluid rounded img-practicas" alt="...">
                            <div class="card-body d-sm-block d-md-none d-lg-none d-xl-none">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL DE GESTIÓN EDUCATIVA</h5>
                                <hr>
                                    <p class="card-text justified-text">Práctica de gestión educativa (Estrategias de
                                        Gestión Educativa), donde el estudiante realiza la práctica cuatro veces a la
                                        semana
                                        durante 16 semanas con 24 horas pedagógicas por semana, acumulando un total de
                                        288
                                        horas.</p>
                            </div>
                        </div>
                        <div class="col-8 col-md-8 d-none d-md-block d-lg-block d-xl-block">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-check-circle"></i> PRÁCTICA PRE PROFESIONAL DE GESTIÓN EDUCATIVA</h5>
                                <hr>
                                <p class="card-text justified-text">Práctica de gestión educativa (Estrategias de
                                    Gestión Educativa), donde el estudiante realiza la práctica cuatro veces a la semana
                                    durante 16 semanas con 24 horas pedagógicas por semana, acumulando un total de 288
                                    horas.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block d-xl-block">
                <img class="img-decor" src="../../assets/img/prac_5.png">
            </div>

        </div>
    </div>
</section>