<header-estudiantes></header-estudiantes>
<social-media id="go_plan"></social-media>
<section class="plan-estudios">    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="item-textos float-end">
                    <div class="row col">
                        <span class="text-danger">PLAN DE ESTUDIOS</span>
                        <h2>Diseño curricular de Educación Primaria - 2018</h2>
                        <div>
                            <a class="btn-solid-reg" href="https://primariauncp.com/UPLOADS/estudiantes/diseno_curricular.pdf" target="_blank">Malla curricular</a>
                        </div>                                               
                    </div>                    
                </div>                
            </div>
            <div class="col text-center">
                <img src="../../assets/img/planing.png">
            </div>
        </div>
    </div>
    <div class="separador-sin-espacio" id="go_calendario"></div>
</section>
<section class="calendario">
    <div class="container container-calendar">        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col text-center">
                <img src="../../assets/img/calendar.png">
            </div>
            <div class="col">
                <div class="item-textos float-end">
                    <div class="row col">
                        <span>CALENDARIO ACADÉMICO</span>
                        <h2>Calendario Académico 2022 - I</h2>
                        <div>
                            <a class="btn-solid-success" href="https://primariauncp.com/UPLOADS/estudiantes/calendario2022-I.pdf" target="_blank">Calendario 2022-I</a>
                        </div>                                               
                    </div>                    
                </div>                
            </div>
            
        </div>
    </div>
    <div class="separador-sin-espacio" id="go_horarios"></div>
</section>

<section class="horarios">    
    <div class="container">  
        <div class="subtitulo-horarios">
            <div class="row justify-content-center">
                <div class="col-md-10">
                   <div class="horariosheading">
                      <h2>Horarios de Carga Lectiva</h2>
                      <div class="divider"></div>
                   </div>
                </div>
             </div>
        </div>      
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="col text-center">
                <div class="card shadow card-est">
                    <div class="card-body ">
                        <div class="icon-horarios" style="background-color: #6f42c1;;">
                            <i class="ico-req material-icons-outlined">school</i>
                        </div>
                        <h5 class="card-title">HORARIO 2022 - I ESTUDIANTES</h5>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/estudiantes/horario.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card shadow card-hor">
                    <div class="card-body">
                        <div class="icon-horarios" style="background-color: #dc3545;">
                            <i class="ico-req material-icons-outlined">psychology</i>
                        </div>
                        <h5 class="card-title">HORARIO 2022 - I TUTORIA</h5>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/estudiantes/tutoria.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="separador"></div>
    </div>
</section>
