<header-docentes></header-docentes>
<social-media id="go_plan"></social-media>
<section class="docentes">
    <sub-titulos subtitulo="Plana Docente" descripcion="Profesionales de gran trascendencia al servicio de la comunidad universitario y de la sociedad en su conjunto."></sub-titulos>
    <img class="planadocente" src="../../assets/img/banner_docentes.jpg" alt="Plana docente educación primaria UNCP">

    <div class="separador"></div>
    
</section>
<section class="relacion">
    <div class="container container-relacion">        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <img class="img-docentes" src="../../assets/img/docentes_1.png" alt="ilustración de docentes">
            </div>
            <div class="col">
                <div class="item-textos">
                    <div class="row col">
                        <h3 style="color: #16c66d;">Plana Docente</h3>
                        <ul>
                            <li>Dr. BALTAZAR MEZA, CARMEN YUDEX</li>
                            <li>Dr. HILARIO FLORES, NORA ESTHER</li>
                            <li>DR. PALOMINO BARBOZA, RAÚL</li>
                            <li>Dr. BARRIENTOS GUTIÉRREZ, PEDRO</li>
                            <li>Dr. LAZO PIÑAS, MARIO</li>
                            <li>Mg. RAQUEL SANTOS YAURICAZA</li>
                            <li>Dr. BLANCAS TORRES, EVELIN KETTY</li>
                            <li>Mg. PADILLA SANCHEZ, MARIBEL</li>
                            <li>Lic. VIZCARRA GAVILÁN, ARTURO MANUEL</li>
                            <li>Mg. DÍAZ ROJAS, ROSA ERCIRA</li>
                        </ul>                                              
                    </div>                    
                </div>                
            </div>            
        </div>
        
    </div>
    <div class="separador"></div>
</section>