.container{
    padding: 50px 0px;
}
.docentes{
    width: 100%;
}
.planadocente{
    display: block;
    width: 100%;
}
.border-purple {
    border-radius: 30px; 
    border: #81256c solid 2px !important; 
    padding: 40px 40px 30px 40px; 
    margin-bottom: 50px;
} 

.relacion{
    width: 100%;
    background-color: #fff;
    color: #fff;
}
.relacion img{
    max-height: 300px;
}
.relacion h2{
    margin: 10px 0 50px 0 ;

}
.container-relacion{
    padding: 40px 30px;
	border-radius: 28px;
	background: url('../../assets/img/invitation-background.jpg') center center no-repeat;
	background-size: cover;
}
.item-textos{
    height: 300px;
    max-width: 450px;
    display: flex;
    align-items: center;
}
.item-textos ul{
    margin-left: 20px;
}
.img-docentes{
    width: 100%;
}

@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
    .border-purple {
        border-radius: 30px; 
        border: #81256c solid 2px !important; 
        padding: 20px 20px 10px 20px; 
        margin-bottom: 50px;
    }
    .planadocente{
        height: 300px;
        width: auto;
    }
}
@media screen and (max-width:400px){
    .planadocente{
        height: 200px;
        width: auto;
    }
}