<header >
    <nav class="menu">
        <div class="menu__container">
            <div class="logo">
                <a href="index.html"><img class="img_logo" src="../../assets/img/logo_1.png" alt="logotipo facultad de educación uncp"></a> 
            </div>
            <!---
            
            <div class="links">
                <a href="#" class="link link--active">Inicio</a>
                <a href="#" class="link">Pregrado</a>
                <a href="#" class="link">Docentes</a>
                <a href="#" class="link">Trámites</a>
                <a href="#" class="link">Investigación</a>
                <a href="#" class="link">Campus Virtual</a>
                <a href="#" class="link">Noticias</a>
            </div>
            -->
            <ul class="menu__links" [ngClass]="{'menu__links--oculto': !this.lMostrarMenu}">
                <li *ngFor="let item of listaMenu" class="menu__item" [ngClass]="{'menu__Item--oculto': !item.lSeleccionado}">
                    <a *ngIf="item.lOpcion" (click)="SeleccionarItem(item)" href="{{item.cUrl}}" class="menu__link" [ngClass]="{'menu__link--active': item.lSeleccionado}">{{item.cNombre}}</a>
    
                    <a *ngIf="!item.lOpcion" (click)="SeleccionarItem(item)" href="#" class="menu__link" [ngClass]="{'menu__link--active': item.lSeleccionado}">{{item.cNombre}} <img src="../../assets/icons/chevron_down.svg" class="menu__arrow"></a>
                    <ul *ngIf="!item.lOpcion" class="menu__nesting" [ngClass]="{'menu__nesting--oculto': !item.lSeleccionado}">
                        <li *ngFor="let subItem of item.hijos" class="menu__inside">
                            <a href="{{subItem.cUrl}}" class="menu__link menu__link--inside" [ngClass]="{'menu__link--active': subItem.lSeleccionado}">{{subItem.cNombre}}</a>
                        </li>    
                    </ul>
                </li>
                   
            </ul>
            <div class="menu__hamburguer">
                <img src="../../assets/icons/menu.svg" class="menu__img" (click)="MostrarOcultarMenu()">
            </div>
        </div>
    </nav>
</header>