

.nav__uncp{
    width: 100%;
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    position: fixed;
    z-index: 100;
    background: rgba(20,41,70,0.1); //var(--blue1);  

}

.nav__container{
    /*display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.logo__name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
}

.link:hover{
    transition-duration: 0.5s;
    color: var(--green2);
}

.link--active{
    color: var(--green3);

}

@media screen and (max-width:700px){
    .nav__uncp{
        height: auto;
    }
    .nav__container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .logo{
        padding: 15px 0 ;
        //text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link{
        font-weight: 300;
        font-size: 1rem;
        padding: 7px 10px;
    }
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.menu{
    background-color: rgba(20,41,70,0.6);
    color: #fff;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;    
    margin: 0 auto;
}
.logo{
    max-width: 200px;
}
.img_logo{
    max-height: 50px;
}
.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    padding: auto;
    z-index: 1000;
}
.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    vertical-align:bottom;
}
.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}
.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    height: 100%;
    align-items: center;    
    bottom: 0;
}
.menu__link:hover{
    background-color: rgba(20,41,70,0.2);
    color: aquamarine;
}
.menu__link--active{
    background-color: rgba(20,41,70,0.2);
}
.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}
.menu__nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(105%);
    background-color: rgba(20,41,70,0.6);
    padding: 0;
}
.menu__link--inside{
    padding: 15px 100px 15px 20px;
}
.menu__link--inside:hover{
    background-color: rgba(20,41,70,0.2);
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}
.menu__img{
    display: block;
    width: 36px;
}

@media screen and (max-width:700px){
    .menu__hamburguer{
        display: flex;
    }
    .menu__item{
        --clip:0;
        //overflow: hidden;
    }
    .menu__Item--oculto{
        overflow: hidden;
    }
    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }
    .menu__item--show{
        background-color: var(--background);
    }
    .menu__links{
        position: fixed;
        max-width: 300px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
    }
    .menu__links--oculto{
        transform: translate(100%);
    }
    .menu__link{
        padding: 15px 0;
        padding-left: 30px;
        display: flex;
        height: auto;
    }
    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);        
    }
    .menu__nesting--oculto{
        transform: translateY(0);  
        height: 0;
        transition: height .3s;
    }
    .menu__link--inside{
        margin-left: 10px;
        border-left: 1px solid #798499;
        
    }
    
}