<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="row g-0">
                <div class="contenedor">
                    <img src="../../assets/img/prac_obs.jpg" alt="Avatar" class="image img-fluid rounded">
                    <div class="overlay">
                        <div class="text">
                            <h5 class="card-title">PRÁCTICA PRE PROFESIONAL DE OBSERVACIÓN</h5>
                            <p class="card-text justified-text">Práctica pre-profesional de observación dirigida
                                (Contacto con la Escuela e Iniciación de la sistematización) donde el estudiante
                                realiza la práctica dos veces a la semana durante 6 semanas con 6 horas
                                pedagógicas
                                por semana, acumulando un total de 36 horas.</p>
                        </div>
        
                    </div>
                  </div>
            </div>
        </div>        
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="row g-0">
                <div class="contenedor">
                    <img src="../../assets/img/prac_disc.jpg" alt="Avatar" class="image img-fluid rounded">
                    <div class="overlay">
                        <div class="text">
                            <h5 class="card-title">PRÁCTICA PRE PROFESIONAL DISCONTINUA</h5>
                            <p class="card-text justified-text">Práctica pre-profesional discontinua
                                (Internalización en la acción educativa y Sistematización de las experiencias
                                realizadas), donde el estudiante realiza la práctica dos veces a la semana
                                durante
                                16 semanas con 12 horas pedagógicas por semana, acumulando un total de 192
                                horas. El
                                proceso de adaptación requiere dos semanas de observación para la ejecución de
                                sesiones de aprendizaje.</p>
                        </div>

                    </div>
                  </div>
            </div>
        </div>        
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="row g-0">
                <div class="contenedor">
                    <img src="../../assets/img/prac_cont.jpg" alt="Avatar" class="image img-fluid rounded">
                    <div class="overlay">
                        <div class="text">
                            <h5 class="card-title">PRÁCTICA PRE PROFESIONAL CONTINUA</h5>
                            <p class="card-text justified-text">Práctica pre-profesional continua
                                (Internalización
                                en la acción educativa y Sistematización de las experiencias realizadas), donde
                                el
                                estudiante realiza la práctica tres veces a la semana durante 16 semanas con 18
                                horas pedagógicas por semana, acumulando un total de 288 horas. El proceso de
                                adaptación requiere dos semanas de observación para la ejecución de sesiones de
                                aprendizaje.</p>
                        </div>

                    </div>
                  </div>
            </div>
        </div>        
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="row g-0">
                <div class="contenedor">
                    <img src="../../assets/img/prac_obs.jpg" alt="Avatar" class="image img-fluid rounded">
                    <div class="overlay">
                        <div class="text">
                            <h5 class="card-title">PRÁCTICA PRE PROFESIONAL INTENSIVA</h5>
                            <p class="card-text justified-text">Práctica pre-profesional intensiva
                                (Internalización
                                en la acción educativa y Sistematización de las experiencias realizadas), donde
                                el
                                estudiante realiza la práctica cuatro veces a la semana durante 16 semanas con
                                24
                                horas pedagógicas por semana, acumulando un total de 384 horas. El proceso de
                                adaptación requiere dos semanas de observación para la ejecución de sesiones de
                                aprendizaje.</p>
                        </div>

                    </div>
                  </div>
            </div>
        </div>        
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="row g-0">
                <div class="contenedor">
                    <img src="../../assets/img/prac_obs.jpg" alt="Avatar" class="image img-fluid rounded">
                    <div class="overlay">
                        <div class="text">
                            <h5 class="card-title">PRÁCTICA PRE PROFESIONAL DE GESTIÓN EDUCATIVA</h5>
                            <p class="card-text justified-text">Práctica de gestión educativa (Estrategias de
                                Gestión Educativa), donde el estudiante realiza la práctica cuatro veces a la
                                semana
                                durante 16 semanas con 24 horas pedagógicas por semana, acumulando un total de
                                288
                                horas.</p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>        
    </div>

</div>
