<header id="header" class="fixed-top " #header>
    <div class="container d-flex align-items-center">
        <div class="logo me-auto">
            <a href=""><img class="img_logo" src="../../assets/img/logo_1.png" alt="logotipo facultad de educación uncp"></a> 
        </div>

        <nav id="navbar" class="navbar"  #myNav>
            <ul>
                <li><a class="nav-link scrollto active" href="">Inicio</a></li>
                <li class="dropdown">
                    <a href="admision"><span>Admisión </span> <i class="ico-down fas fa-angle-down"></i></a>
                    <ul>
                        <li><a href="admision#go_modalidades">Modalidades</a></li>
                        <li><a href="admision#go_costos">Costos de Inscripción</a></li>
                        <li><a href="admision#go_requisitos">Requisitos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><span>EP E. Primaria </span> <i class="ico-down fas fa-angle-down"></i></a>
                    <ul>
                        <li class="dropdown">
                            <a href="estudiantes"><span>Estudiantes</span> <i class="fas fa-angle-right"></i></a>
                            <ul>
                                <li><a href="estudiantes#go_plan">Plan de Estudios</a></li>
                                <li><a href="estudiantes#go_calendario">Calendario Académico</a></li>
                                <li><a href="estudiantes#go_horarios">Horarios de Carga Lectiva</a></li>
                            </ul>
                        </li>
                        <li><a href="docentes">Docentes</a></li>
                        <li><a href="practicas">Prácticas Pre-profesionales</a></li>
                        <li><a href="proyeccion">Proyección Social</a></li>
                        <li><a href="bienestar">Bienestar Universitario</a></li>
                        <li class="dropdown">
                            <a href="investigacion"><span>Investigación</span> <i class="fas fa-angle-right"></i></a>
                            <ul>
                                <li><a href="investigacion#go_procesos">Procesos de investigación</a></li>
                                <li><a href="investigacion#go_docente">Investigación Docente</a></li>
                                <li><a href="investigacion#go_pregrado">Investigación de Pregrado</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="tramites">Trámites</a></li>
                <li><a class="nav-link scrollto" href="https://educacion.primariauncp.com" target="_blank">Noticias y Blog</a></li>
                <li><a class="nav-link scrollto" href="https://campusvirtual.primariauncp.com" target="_blank">Campus virtual</a></li>
                <li><a class="nav-link scrollto" href="revista">Revista</a></li>
                <!--
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
                -->                
            </ul>
            
            <span (click)="ChangeStateNavMobile()"><i class="fas fa-bars mobile-nav-toggle" #burguer></i></span>
            
        </nav>
    </div>
</header>