<nav class="menu">
    <section class="menu__container">
        <h5 class="menu__logo">Juanki</h5>

        <ul class="menu__links">
            <li *ngFor="let item of listaMenu" class="menu__item">
                <a *ngIf="item.lOpcion" href="{{item.cUrl}}" class="menu__link">{{item.cNombre}}</a>

                <a *ngIf="!item.lOpcion" href="#" class="menu__link">{{item.cNombre}} <img src="../../assets/icons/chevron_down.svg" class="menu__arrow"></a>
                <ul *ngIf="!item.lOpcion" class="menu__nesting">
                    <li *ngFor="let subItem of item.hijos" class="menu__inside">
                        <a href="{{subItem.cUrl}}" class="menu__link menu__link--inside">{{subItem.cNombre}}</a>
                    </li>

                </ul>
            </li>

            <!--
            <li class="menu__item">
                <a href="#" class="menu__link">Home</a>
            </li>
            <li class="menu__item menu__item--show">
                <a href="#" class="menu__link">Products <img src="../../assets/icons/chevron_down.svg" class="menu__arrow"></a>
    
                <ul class="menu__nesting">
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">About 1</a>
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">About 2</a>
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">About 3</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item menu__item--show">
                <a href="#" class="menu__link">Services <img src="../../assets/icons/chevron_down.svg" class="menu__arrow"></a>
    
                <ul class="menu__nesting">
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">Service 1</a>
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">Service 2</a>
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">Service 3</a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Contact</a>
            </li>
            -->
        </ul>
        <div class="menu__hamburguer">
            <img src="../../assets/icons/menu.svg" class="menu__img">
        </div>
    </section>
    
</nav>
