.container{
    padding: 50px 0px;
}

.plan-estudios{
    width: 100%;
    background-color: #fff;    
    background: url(../../assets/img/details-2-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.plan-estudios img{
    max-height: 300px;
}
.plan-estudios h2{
    margin: 10px 0 50px 0 ;
    color: #223150;
}
.calendario{
    width: 100%;
    background-color: #fff;
    color: #fff;
    background: url(../../assets/img/decoration-circles.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.calendario img{
    max-height: 300px;
}
.calendario h2{
    margin: 10px 0 50px 0 ;

}
.container-calendar{
    
	border-radius: 28px;
	background: url('../../assets/img/invitation-background.jpg') center center no-repeat;
	background-size: cover;
}
.item-textos{
    height: 300px;
    max-width: 450px;
    display: flex;
    align-items: center;
}



/*
    HORARIOS
*/
.horarios{
    width: 100%;
    background-color: #fff;
}

.horarios p {
    font-size: 1rem;
}

.horariosheading {
    text-align: center;
}

.horariosheading h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 50px;
    color: var(--black2);
}

.horariosheading span {
    font-size: 1rem;
    line-height: 32px;
}
.item-horarios{    
    background-color: #dff1fc ;
    color: #141012;
    transition-duration: 500ms;
}
.item-horarios:hover{
    background-color: #fff;
    //color: #fff;
    transform: scale(1.05);
}
.subtitulo-horarios{
    width: 100%;
    padding: 50px 0;
    
}
.icon-horarios{
    width: 80px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    border-radius: 40px;
    color: #fff;
    padding: 15px;
    margin: 10px auto;
}
.icon-horarios i{
    font-weight: 200;
    font-size: 50;
    vertical-align: middle;
    margin: auto;
}

.card-est, .card-hor{
    transition-duration: 200ms;
    cursor: pointer;
}
.card-est:hover{
    transform: scale(1.05);
}
.card-hor:hover{
    transform: scale(1.05);
}
.card-est:active{
    transform: scale(1.03);
}
.card-hor:active{
    transform: scale(1.03);
}
.card-footer a{
    cursor: pointer;
    font-size: 1rem;
    transition-duration: 100ms;
}
.card-footer a:hover{
    font-weight: 600;
    font-size: 1.02rem;
    text-decoration: underline;
}
.card-footer a:active{
    font-size: 1.01rem;
}

/**/
@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
    .item-textos{
        text-align: center;
    }
    .container-calendar{
        padding: 30px 10px;
    }
    .calendario img{
        width: 90%;
    }
}