<header-revista></header-revista>
<social-media id="go_plan"></social-media>
<div class="separador"></div>
<section class="plan-estudios">    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="item-textos float-end">
                    <div class="row col">
                        <span class="text-danger">REVISTA INSTITUCIONAL</span>
                        <h2>Diagnóstico Educativo 2021</h2>
                        <div>
                            <a class="btn-solid-reg" href="https://primariauncp.com/UPLOADS/revista/revista_2021.pdf" target="_blank">Descargar</a>
                        </div>                                               
                    </div>                    
                </div>                
            </div>
            <div class="col text-center">
                <img src="../../assets/img/rev_2021.png">
            </div>
        </div>
    </div>
    <div class="separador-sin-espacio" id="go_calendario"></div>
</section>
<section class="calendario">
    <div class="container container-calendar">        
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col text-center">
                <img src="../../assets/img/rev_2022.png">
            </div>
            <div class="col">
                <div class="item-textos ">
                    <div class="row col">
                        <span>REVISTA INSTITUCIONAL</span>
                        <h2>Diagnóstico Educativo 2022</h2>
                        <div>
                            <a class="btn-solid-success"  href="https://primariauncp.com/UPLOADS/revista/revista_2022.pdf" target="_blank">Descargar</a>
                        </div>                                               
                    </div>                    
                </div>                
            </div>
            
        </div>
    </div>
    <div class="separador" id="go_horarios"></div>
</section>