<header-investigacion></header-investigacion>
<social-media id="go_present"></social-media>
<section class="presentacion">
    <sub-titulos subtitulo="Investigación" descripcion="PRESENTACIÓN"></sub-titulos>
    <div class="container">
        <div class="border-purple">
            
         <div class="divider"></div>
         <p class="justified-text">Dentro de la normativa de la Ley Universitaria 30220, el Estatuto UNCP y el modelo de Calidad, la universidad no solo es un centro de estudios, es también un centro de formación integral, del ciudadano(a). En ese sentido, la proyección social hacia el entorno, constituye la piedra angular en el proceso de formación profesional de los estudiantes; es así, que la Extensión Cultural y la Proyección Social forman las estrategias que permiten a docentes y estudiantes comprometerse con el desarrollo local y regional sostenible.</p>
         <p class="justified-text">La Oficina de Extensión Cultural y Proyección Social es una unidad orgánica responsable de planificar, ejecutar, supervisar y evaluar las acciones que involucra la función de Proyección Social, cuyo cumplimiento permite que se transfiera tecnología, conocimientos, se fomente la recuperación, práctica y difusión cultural y artística y el fortalecimiento de los principios axiológicos, como resultado de las actividades académicas y de investigación.</p>
        </div>
    </div>
    <div class="separador-sin-espacio" id="go_procesos"></div>
</section>

<section class="documentos">
    <div class="subtitulo-requisitos">
        <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="requisitosheading">
                  <h2>Procesos de Investigación</h2>
                  <div class="divider-white"></div>
               </div>
            </div>
         </div>
    </div>
    <div class="container">        
        <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #198754;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Reglamento para la bonificación por Función de Investigación.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/investigacion/documento_1.pdf" target="_blank" >Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #dc3545;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Código de ética para el investigador de la UNCP.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/investigacion/documento_2.pdf" target="_blank" >Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #6f42c1;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Reglamento General de Investigación - 2018.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/investigacion/documento_3.pdf" target="_blank" >Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #fd7e14;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Líneas de Investigación de la UNCP- 2017.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/investigacion/documento_4.pdf" target="_blank" >Descargar Documento</a>
                    </div>
                </div>
                
            </div>
         
            
        </div>
        
    </div>
    <div class="separador" id="go_docente"></div>
</section>




<section class="requisitos">
    <div class="subtitulo-requisitos">
        <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="requisitosheading">
                  <h2>Investigación Docente</h2>
                  <div class="divider-white"></div>
               </div>
            </div>
         </div>
    </div>
    <div class="container">        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
            <div class="col text-center">
                <img src="../../assets/img/inv_doc.png" alt="Investigación">

            </div>
            <div class="col text-center">
                
            </div>
        </div>
    </div>
    <div class="separador" id="go_pregrado"></div>
</section>

<section class="requisitos-ing">
    <div class="subtitulo-requisitos">
        <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="requisitosheading">
                  <h2>Trabajos e Investigación de Pregrado</h2>
                  <div class="divider"></div>
               </div>
            </div>
         </div>
    </div>
    <div class="container">        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
            <div class="col text-center">
                
            </div>
            <div class="col text-center">
                <img src="../../assets/img/inv_est.png" alt="Investigación">
            </div>            
        </div>
        <div class="separador"></div>
    </div>
</section>