<body ng-init="CloseLoader()">
  <div *ngIf="loaderVisible==true" class="loader_bg">
    <div class="loader"><img src="../assets/img/loading.gif" alt="#" /></div>
  </div>
  <!--
  <dropdown-menu></dropdown-menu>
   -->  
    <main-menu></main-menu>
 
  <router-outlet></router-outlet>
  <primaria-footer></primaria-footer>

</body>
