.banner-subtitulo {
    margin: 0;
    width: 100%;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    background-image: url(../../assets/img/banner5-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subtitleheading {
    text-align: center;
}

.subtitleheading h2 {
    padding: 0px 0px 20px 0px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff ;
    line-height: 50px;
}

.subtitleheading span {
    color:#fff; 
    font-size: 1rem;
    line-height: 32px;
}

@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
    .subtitleheading h2{
        font-size: 2.5rem;
    }
}