.btn-close-min{
    padding: auto;
    border-style: none;
    background-color: rgb(0 0 0 / 0.0);
    margin-top: 0.3rem;
    
}
.btn-close-min:hover{
    padding: auto;
    border-style: none;
    color: rgba(255, 255, 255, 0.9);
}
.float-cta {
    position: fixed;
    left: auto;
    top: auto;
    right: 0;
    bottom: 25%;
    z-index: 1000;
    max-width: 190px;
    padding: 1em 0.8em;
    background-color: var(--pink1);
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 52%);
    font-weight: 700;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}

.text-block {
    color: #fff;
    font-size: 1.125em;
}

.btn-cta {
    margin-top: 1em;
    padding: 0.8em 10px;
    background: linear-gradient(180deg, #fff 0%, #fafafa 100%);
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    text-align: center;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;

    color: var(--black2);
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.w-button:hover{
    transition-duration: 0.5s;
    transform: scale(1.05);    
}

.float-cta.var-car {
    max-width: 214px;
}

@media screen and (max-width:700px){
    .btn-cta{
        margin-top: 0px;
        margin-left: 1rem;
    }
    .float-cta {
        left: 0;
        top: auto;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: none;
        padding-right: 1.1em;
        padding-left: 1.1em;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
    }

    .float-cta.var-car.var-int {
        width: 100%;
        max-width: none;
        border-radius: 0px 0px 0px 0px;
        bottom: 0px;
    }
}