<div *ngIf="lMostrar" class="float-cta var-car var-int">
    <div class="text-block">Registrate aquí para recibir más información.</div>
    <a href="https://formpregrado.pucp.edu.pe/" target="_blank" class="btn-cta w-button">SUSCRÍBETE</a><br>
    <button class="btn-close-min" type="button" (click)="OcultarBoton()">Cerrar</button>
</div>