<section class="uncp">
  <div class="slider_section">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper ">
          <img class="img-slide banner-1" src="../../assets/img/banner.png" alt="Estudiantes Educacion Primaria">
        </div>
        <div class="carousel-caption ">
          <div class="uncp__main">
            <div class="uncp__textos">
              <h1 class="title">Educación Primaria <span class="title--active">UNCP.</span></h1>
              <p class="copy">La enseñanza que <span class="copy__active"> deja huella</span><br>
                no es la que se hace de cabeza a cabeza<br>
                <span class="copy__active">sino de corazón a corazón</span>
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper ">
          <img class="img-slide banner-2" src="../../assets/img/banner.png" alt="Estudiante Educacion Primaria">
        </div>
        <div class="carousel-caption">
          <div class="uncp__main">
            <div class="uncp__textos">
              <h1 class="title">Educación Primaria <span class="title--active">UNCP.</span></h1>
              <p class="copy">La enseñanza que <span class="copy__active"> deja huella</span><br>
                no es la que se hace de cabeza a cabeza<br>
                <span class="copy__active">sino de corazón a corazón</span>
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper ">
          <img class="img-slide banner-3" src="../../assets/img/banner.png" alt="Estudiante Educacion Primaria">
        </div>
        <div class="carousel-caption ">
          <div class="uncp__main">
            <div class="uncp__textos">
              <h1 class="title">Educación Primaria <span class="title--active">UNCP.</span></h1>
              <p class="copy">La enseñanza que <span class="copy__active"> deja huella</span><br>
                no es la que se hace de cabeza a cabeza<br>
                <span class="copy__active">sino de corazón a corazón</span>
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>