.uncp{
    width: 100%;
    min-height: 100vh;
    max-height: calc(100vh - 80px);    
    background: linear-gradient(180deg, #221179 0%, #7f127f 100%);    
}
.banner-1{
    background: url(../../assets/img/banner_base.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-2{
    background: url(../../assets/img/banner_base2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-3{
    background: url(../../assets/img/banner_base3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.picsum-img-wrapper img{
    width: 100%;
    min-height: 100vh;
    max-height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
}

.uncp__main{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: left center;
}

.uncp__textos{
    text-align: left;
    width: 50%;
}

.title{
    font-size: 3.5rem;
    font-weight: 300;
    color: #fff;
}

.title--active{
    color: #fff;
    font-weight: 700;
}

.copy{
    font-size: 1.3rem;
    color: #fff;
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 15px 0;
}

.copy__active{
    font-weight: 700;
}

@media screen and (max-width:700px){
    .picsum-img-wrapper img{
        float: left;
        width: auto;
        height: calc(100vh - 80px);
    }
    .uncp{
        background-position: left center;
    }
    
    .uncp__textos{
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }
    .title{
        font-size: 2.5rem;
    }
    .copy{
        font-size: 1.1rem;
    }
}