/******************/
/*     Footer     */
/******************/
.prefooter {
    width: 100%;
    background-color: #fff;
	position: relative;
	padding-top: 7.5rem;
	padding-bottom: 6rem;
	text-align: center;
}

.prefooter .decoration-circles {
	position: absolute;
	top: 96px;
	left: -60px;
}

.prefooter div[class*="col"] {  
	/* selects all elements which have classes starting with col */
	/* needed so that the absolute positioned decoration stays behind */
	position: relative;
}

.prefooter a {
	color: #223150;
	text-decoration: none;
}

.prefooter h4 {
	margin-bottom: 1.875rem;
}

.prefooter .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.prefooter .fa-stack .fa-stack-1x {
    color: #0092ff;
	transition: all 0.2s ease;
}

.prefooter .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.prefooter .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.prefooter .fa-stack:hover .fa-stack-2x {
    color: #0092ff;
}
.circle-social{
    background-color: #fff;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;;
}
.circle-social:hover{
    background-color: #0092ff;
}