<section class="prefooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <h4>Si quieres estar al día con todas nuestras actualizaciones,
                    Síguenos en nuestras redes sociales</h4>
                    <hr>
                <div class="social-container">
                    <span class="fa-stack circle-social">
                        <a href="#your-link">                           
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack circle-social">
                        <a href="#your-link">
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack circle-social">
                        <a href="#your-link">
                            <i class="fab fa-pinterest-p fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack circle-social">
                        <a href="#your-link">
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack circle-social">
                        <a href="#your-link">
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>