<header-proyeccion></header-proyeccion>
<social-media id="go_plan"></social-media>
<section class="presentacion">
    <sub-titulos subtitulo="Proyección Social" descripcion="PRESENTACIÓN"></sub-titulos>
    <div class="container">
        <div class="border-purple">
            
         <div class="divider"></div>
         <p class="justified-text">Dentro de la normativa de la Ley Universitaria 30220, el Estatuto UNCP y el modelo de Calidad, la universidad no solo es un centro de estudios, es también un centro de formación integral, del ciudadano(a). En ese sentido, la proyección social hacia el entorno, constituye la piedra angular en el proceso de formación profesional de los estudiantes; es así, que la Extensión Cultural y la Proyección Social forman las estrategias que permiten a docentes y estudiantes comprometerse con el desarrollo local y regional sostenible.</p>
         <p class="justified-text">La Oficina de Extensión Cultural y Proyección Social es una unidad orgánica responsable de planificar, ejecutar, supervisar y evaluar las acciones que involucra la función de Proyección Social, cuyo cumplimiento permite que se transfiera tecnología, conocimientos, se fomente la recuperación, práctica y difusión cultural y artística y el fortalecimiento de los principios axiológicos, como resultado de las actividades académicas y de investigación.</p>
        </div>
    </div>
    
</section>

<section class="documentos">
    <div class="container">        
        <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #198754;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Reglamento de la oficina general de extensión cultural y proyección social de la Universidad Nacional del Centro del Perú.</p>
                    </div>
                    <div class="card-footer text-primary">
                        
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/1_reglamento.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #dc3545;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Norma del funcionamiento de los talleres de Extensión Cultural.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/2_talleres.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #6f42c1;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Directiva transitoria N° 01-2021-DECPS-UNCP aprobado con resolución N° 0178-R-2021.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/3_directiva_transitoria.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #fd7e14;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Monitoreo de los grupos de proyección social. (flujograma).</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/4_monitoreo_flujograma.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #1d79fd;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Áreas de servicio a la comunidad con RSU-consultorías inter y trans disciplinarias virtuales.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/5_areas.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
               
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #6c757d;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Alineamiento de las ODS-2030 con las facultades de la UNCP.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/6_ODS.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
               
            </div>
            <div class="col text-center">
                <div class="card h-100 item-requisitos">
                    <div class="card-body">
                        <div class="icon-requisitos" style="background-color: #dc3545;">
                            <i class="ico-req material-icons-outlined">picture_as_pdf</i>
                        </div>
                        <p>Cronograma de actividades del proyecto de intervención social.</p>
                    </div>
                    <div class="card-footer text-primary">
                        <a href="https://primariauncp.com/UPLOADS/proyeccion/7_cronograma.pdf" target="_blank">Descargar Documento</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="separador"></div>
    </div>
</section>