.presentacion{
    width: 100%;
    background-color: #fff;
    background: url(../../assets/img/home-bg.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
}
.documentos{
    background-color: #fff;
    background: url(../../assets/img/details-2-background.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;

}
.container{
    width: 100%;
    padding: 50px 0px;
}
.subtitleheading {
    text-align: center;
}
.subtitleheading h2 {
    padding: 0px 0px 20px 0px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black1) ;
    line-height: 50px;
}
.border-purple {
    border-radius: 30px; 
    border: #81256c solid 2px !important; 
    padding: 40px 40px 30px 40px; 
    margin-bottom: 50px;
} 

.item-requisitos{    
    transition-duration: 200ms;
}
.item-requisitos:hover{
    box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.item-requisitos:active{
    box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 5px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.005);
}
.item-requisitos a{
    cursor: pointer;
    font-size: 1rem;
    transition-duration: 100ms;
    
}
.item-requisitos a:hover{
    font-weight: 600;
    font-size: 1.02rem;
    text-decoration: underline;
}
.item-requisitos a:active{
    font-size: 1.01rem;
}
.icon-requisitos{
    width: 80px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    border-radius: 40px;
    color: #fff;
    padding: 15px;
    margin: 10px auto;
}
.icon-requisitos i{
    font-weight: 200;
    font-size: 50;
    vertical-align: middle;
    margin: auto;
}

@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
    .border-purple {
        border-radius: 30px; 
        border: #81256c solid 2px !important; 
        padding: 20px 20px 10px 20px; 
        margin-bottom: 50px;
    } 
}