/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*/

:root{
    --gold1:#efb810;
    --gold2:#f9db5c;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --gray3: #f9c9c9c;
    --black1: #171718;
    --black2: #393d42;
    --blue1: #000086;
    --blue2: #1465bb;
    --blue3: #008eea;
    --blue4: #41a5ff;
    --pink1:#e90c8e;
    --pink2:#ff3ca5;
    --green1:#97f425;
    --green2:#00cfbe;
    --green3:#37e2ee;
    --purple1: #7622c5;
    --purple2:#ab3ed8;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    color: #666666;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.divider{
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--purple1);
    margin: 10px auto;
}
.divider-white{
    display: block;
    width: 100px;
    height: 3px;
    background-color: #ffffff;
    margin: 10px auto;
}
.separador{
    width: 100%;
    height: 80px;
    background-color: rgba($color: #000000, $alpha: 0.0);
}
.separador-sin-espacio{
	width: 100%;
    height: 80px;
	margin-top: -80px;
    background-color: rgba($color: #000000, $alpha: 0.0);
}

.btn-download{
    width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    border-style: solid;
    border-color: #0092ff;
    border-width: 2px;
    border-radius: 30px;
    background-color: #0092ff;
    color: #ffffff;
}
.btn-download:hover{
    background-color: #0374ca;
    border-color: #0374ca;
}
.btn-download i{
    font-size: 2rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #0092ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-success {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #16c66d;
	border-radius: 30px;
	background-color: #16c66d;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-success:hover {
	background-color: transparent;
	color: #fff; /* needs to stay here because of the color property of a tag */
	border: 1px solid #fff;
	text-decoration: none;
}


.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #0092ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background-color: transparent;
	color: #0092ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ef473d;
	border-radius: 30px;
	background-color: transparent;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #ef473d;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #ef473d;
	border-radius: 30px;
	background-color: transparent;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #ef473d;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ef473d;
	border-radius: 30px;
	background-color: transparent;
	color: #ef473d;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #ef473d;
	color: #ffffff;
	text-decoration: none;
}

.justified-text{
	text-align: justify;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.8);
  }