.border {border-radius: 30px; border: #81256c solid 2px !important; padding: 40px 40px;} 
.about {    
    background: url(../../assets/img/home-bg.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center left;
    padding: 90px 0px;
}
.aboutheading {
   text-align: center;
   padding-bottom: 50px;
}
.aboutheading h2 {
    padding: 0px 0px 20px 0px;
    font-size: 50px;
    font-weight: bold;
    color: #81256c ;
    line-height: 50px;
}

.aboutheading span {
    color:#141012; 
    font-size: 1rem;
    line-height: 32px;
}

.black {color: #141012 }
.about .about-box {}

.about .about-box figure {
    margin: 0px;
    text-align: center;
    padding: 20px 0;
}
.home-avatar{
    margin: auto;
    width: 100%;
}

.about .about-box .title-box{
    font-size: 1.5rem;
    font-weight: 600;
    color: #141012;
    text-align: justify;
}
.about .about-box p {
   font-size: 1rem;
    line-height: 32px;
    color: #141012;
    text-align: justify;
    
}
.about .about-box button{
    width: 200px;
    font-size: 1rem;
    padding: 15px 0px;
    background-color: #81256c;
    color: #fff;
    line-height: 20px;
    border-radius: 30px;
    border-style: none;
    text-align: center;
    float: right;
}
.about .about-box button:hover {
   color: #fff;
    background-color: #691556;
}
@media screen and (max-width:700px){
    .container{
        width: 90%;
    }
}