<slider></slider>
<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="aboutheading">
               <h2>¡Te damos la <strong class="black">Bienvenida!</strong></h2>
               <span>Escuela Profesional de Educación Primaria - Universidad Nacional del Centro del Perú</span>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
            <div class="about-box border">
               <span>Palabras de bienvenida</span>
               <p class="title-box">Dr. Nora Esther, Hilario Flores</p>
               <p>Bienvenidos a la página web de la Escuela Profesional de Educación Primaria de la Facultad de
                  Educación de la Universidad Nacional del Centro del Perú, en este espacio encontrará información
                  actualizada de organización, servicios, experiencias y actividades que se realiza con el propósito de
                  formar integralmente al futuro docente de primaria.</p>
               <p>Cabe resaltar que la carrera profesional logró ser acreditada por el Sistema Nacional de Evaluación,
                  Acreditación y Certificación de la Calidad Educativa y viene trabajando con el mismo espíritu de la
                  mejora continua en pos de la reacreditación, es parte de una Facultad certificada con la Norma
                  Internacional ISO 9001:2015 e ISO 21001:2018, y Universidad licenciada por la SUNEDU, logros que
                  significan ser una carrera profesional que responde a altos estándares de calidad educativa.</p>
               <p *ngIf="lLeerMas">Los invito a conocer la carrera profesional visitando la página oficial y ser parte
                  de ella, puesto que la familia está conformada por docentes destacados con un buen perfil profesional
                  y humano; estudiantes investigadores, con vocación de servicio y responsabilidad social, y egresados
                  que ejercen la profesión de manera sobresaliente a nivel local, regional, nacional e internacional.
               </p>
               <button type="button" *ngIf="!lLeerMas" (click)="CambioLeerMas()">Leer más</button>
               <button type="button" *ngIf="lLeerMas" (click)="CambioLeerMas()">Leer menos</button>
            </div>
         </div>
         <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
            <div class="about-box">
               <figure><img class="home-avatar" src="../../assets/img/nora.png" alt="img" /></figure>
            </div>
         </div>
      </div>
      
   </div>
</div>
<social-media-footer></social-media-footer>
<boton-flotante></boton-flotante>