<section class="uncp">
    <div class="uncp__main container">  
        <div class="uncp__textos"> 
            <h1 class="title">Modalidades de<span class="title--active"> ADMISIÓN</span></h1> 
            <p class="copy">Encuentra diversas <span class="copy__active"> modalidades de ingreso</span><br>
                que se adaptan mejor a tus<br>
            <span class="copy__active">necesidades e intereses.</span></p>       
            
               
        </div>                    
    </div>
</section>